$orange: #fbb74d;
$orange-opacity: rgba(251, 183, 77, 0.8);
$red: #f71803;
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
  font-variant: unset;
  color: black;
}
body {
  height: auto;
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: darkorange;
    font-weight: 600;
  }
  section {
    padding: 30px 0;
  }
}
#header {
  background-image: url("../image/halftone-yellow/halftone-yellow/halftone-yellow.png");
  height: 100vh;
  font-size: 20px;
  .navbar {
    background: white;
    padding: 10px 1rem;
    margin-bottom: 0;
    border: none;
    .container-fluid {
      &::before,
      &::after {
        content: none;
      }
    }
    .navbar-header {
      max-width: 250px;
    }
    .navbar-nav {
      ul {
        padding: 0;
        list-style: none;
        li {
          // display: inline-block;
          padding-right: 10px;
          padding-left: 10px;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: black;
            position: relative;

            &:hover {
              color: $red;
              &::after {
                transform: scale(1);
              }
            }
            &::after {
              background-color: $red;
              content: "";
              position: absolute;
              height: 2px;
              width: 100%;
              bottom: -5px;
              left: 0;
              transform: scale(0);
              transition: all 0.5s ease;
            }
          }
          &.active {
            a {
              color: $red;
              &::after {
                transform: scale(1);
                height: 2px;
              }
            }
          }
        }
      }
    }
  }
  .div-header {
    width: 100%;
    height: 100%;
    .div-header-content {
      height: 100%;
      padding: 25vh 0;
      h1 {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        color: darkorange;
      }
    }
  }
}
#about-us {
  .row-about-us {
    padding: 30px 0;
  }
}
#management {
  background-image: url("../image/halftone-yellow/halftone-yellow/halftone-yellow.png");
  .row-management {
    margin: 30px 0;
    h3 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      color: darkorange;
    }
    .col-management5 {
      padding: 0;
      .img-management {
        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
          max-height: 450px;
        }
      }
    }
    .col-management7 {
      background: rgba(255, 255, 255, 0.3);
      max-height: 450px;
      .cv {
        white-space: wrap;
        overflow: hidden;
        max-height: 300px;
        p {
          text-overflow: ellipsis;
        }
      }
    }
  }
}
