@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
  font-variant: unset;
  color: black;
}

body {
  height: auto;
}

body h2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  color: darkorange;
  font-weight: 600;
  margin-bottom: 40px;
}

body section {
  padding: 70px 0;
}

#header {
  background-image: url("../image/halftone-yellow/halftone-yellow/halftone-yellow.png");
  height: 100vh;
  font-size: 20px;
}

#header .navbar {
  background: white;
  padding: 10px 1rem;
  margin-bottom: 0;
  border: none;
}

#header .navbar .container-fluid::before, #header .navbar .container-fluid::after {
  content: none;
}

#header .navbar .navbar-header {
  max-width: 250px;
}

#header .navbar .navbar-nav ul {
  padding: 0;
  list-style: none;
}

#header .navbar .navbar-nav ul li {
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

#header .navbar .navbar-nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar .navbar-nav ul li a:hover {
  color: #f71803;
}

#header .navbar .navbar-nav ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar .navbar-nav ul li a::after {
  background-color: #f71803;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar .navbar-nav ul li.active a {
  color: #f71803;
}

#header .navbar .navbar-nav ul li.active a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 2px;
}

#header .div-header {
  width: 100%;
  height: 100%;
  padding: 0;
}

#header .div-header .div-header-content {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel {
  position: static;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-indicators li {
  background: darkorange;
  border-color: darkorange;
  margin: 0 10px;
  height: 12px;
  width: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#header .div-header .div-header-content #myCarousel .carousel-indicators li.active {
  background: #f71803;
  border-color: #f71803;
}

#header .div-header .div-header-content #myCarousel .carousel-indicators li:hover {
  background: #f71803;
  border-color: #f71803;
}

#header .div-header .div-header-content #myCarousel .carousel-inner {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p {
  position: absolute;
  top: 50%;
  width: 50%;
  margin: 0 25%;
  padding: 30px 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  font-size: 40px;
  font-variant: small-caps;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i {
  color: white;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i::before {
  margin: 0;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i:first-of-type {
  margin-right: 10px;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i:last-of-type {
  margin-left: 10px;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev, #header .div-header .div-header-content #myCarousel .carousel-control-next {
  opacity: 1;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-prev-icon, #header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-next-icon, #header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-prev-icon, #header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-next-icon {
  background-image: none;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-prev-icon i, #header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-next-icon i, #header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-prev-icon i, #header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-next-icon i {
  color: #f71803;
  font-size: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev:hover span.carousel-control-prev-icon i, #header .div-header .div-header-content #myCarousel .carousel-control-prev:hover span.carousel-control-next-icon i, #header .div-header .div-header-content #myCarousel .carousel-control-next:hover span.carousel-control-prev-icon i, #header .div-header .div-header-content #myCarousel .carousel-control-next:hover span.carousel-control-next-icon i {
  color: darkorange;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .div-header .div-header-content #myCarousel .green-eden-span {
  position: absolute;
  top: 30%;
  width: 100%;
}

#header .div-header .div-header-content #myCarousel .green-eden-span h1 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: darkorange;
}

#header .div-header .div-header-content #myCarousel .green-eden-span h1 em {
  color: #f71803;
  font-style: normal;
}

#about-us {
  background: radial-gradient(transparent, orange);
}

#about-us .row-about-us {
  padding: 30px 0;
}

#management {
  background-image: url("../image/leather_1/leather_1/leather_1.png");
}

#management .row-management {
  margin: 30px 0;
  z-index: 1;
}

#management .row-management h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: darkorange;
}

#management .row-management .col-management5 {
  padding: 0;
  z-index: 2;
}

#management .row-management .col-management5 .img-management {
  z-index: 2;
}

#management .row-management .col-management5 .img-management .img-managment-a {
  overflow: hidden;
  display: block;
  z-index: 2;
}

#management .row-management .col-management5 .img-management .img-managment-a img {
  position: relative;
  z-index: 2;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  max-height: 450px;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#management .row-management .col-management5 .img-management .img-managment-a.ilona::before, #management .row-management .col-management5 .img-management .img-managment-a.pawel::before {
  content: "";
  position: absolute;
  border: 4px dotted #f71803;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#management .row-management .col-management5 .img-management .img-managment-a.ilona::before {
  left: -20px;
  top: -20px;
}

#management .row-management .col-management5 .img-management .img-managment-a.pawel::before {
  right: -20px;
  bottom: -20px;
}

#management .row-management .col-management5 .img-management .img-managment-a:hover img {
  z-index: 2;
  -o-object-position: top;
     object-position: top;
  transition: all 0.6s;
  transform: scale(1.15);
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transform: scale(1.15);
}

#management .row-management .col-management7 {
  background: rgba(255, 255, 255, 0.9);
  max-height: 450px;
  text-align: center;
  padding: 30px 15px;
}

#management .row-management .col-management7 h3 {
  font-size: 35px;
}

#management .row-management .col-management7 span {
  padding: 5px 10px;
  font-size: 20px;
}

#management .row-management .col-management7 .cv {
  overflow: scroll;
  max-height: 300px;
  padding-top: 30px;
}

#management .row-management .col-management7 .cv p {
  text-overflow: ellipsis;
  color: #7b7b7b;
}

#management .row-management .col-management7 .cv ul {
  text-align: start;
  padding: 0;
  list-style: none;
  color: #7b7b7b;
}

#management .row-management .col-management7 ul.pawelChmiel {
  text-align: start;
  padding: 0;
  list-style: none;
  padding-top: 30px;
}

#management .row-management .col-management7 ul.pawelChmiel li {
  color: #7b7b7b;
}

#projects .projects .row-projects {
  margin-bottom: 30px;
}

#projects .projects .row-projects .div-img-description-projects {
  position: relative;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects {
  width: 100%;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture {
  overflow: hidden;
  display: block;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture:hover img {
  transition: all 0.6s;
  transform: scale(1.1);
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  background: -webkit-gradient(left top, left bottom, color-stop(61%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(255, 255, 255, 0.04)), color-stop(74%, rgba(36, 36, 36, 0.54)), color-stop(76%, rgba(0, 0, 0, 0.54)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(255, 255, 255, 0.04)), color-stop(74%, rgba(36, 36, 36, 0.54)), color-stop(76%, rgba(0, 0, 0, 0.54)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.04) 62%, rgba(36, 36, 36, 0.54) 74%, rgba(0, 0, 0, 0.54) 76%);
}

@media (max-width: 767px) {
  #projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture::after {
    width: 100%;
  }
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  z-index: 2;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects h5 {
  color: darkorange;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects a {
  text-decoration: none;
  color: white;
  background: darkorange;
  padding: 5px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects a:hover {
  background: #f71803;
}
/*# sourceMappingURL=style.css.map */