@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
  font-variant: unset;
  color: black;
}

body {
  height: auto;
}

body h2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  color: darkorange;
  font-weight: 600;
  margin-bottom: 40px;
  text-shadow: 7px 10px 10px #c5a16b;
}

body h2 i:first-of-type {
  margin-right: 30px;
}

body h2 i:last-of-type {
  margin-left: 30px;
}

body h2 i:last-of-type::before {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

body h2 i::before {
  margin-right: 0;
  margin-left: 0;
  color: darkorange;
}

body section {
  padding: 70px 0;
}

#header {
  background-image: url("../image/halftone-yellow/halftone-yellow/halftone-yellow.png");
  height: 100vh;
  font-size: 20px;
}

#header .navbar {
  background: white;
  padding: 10px 1rem;
  margin-bottom: 0;
  border: none;
  z-index: 900;
}

#header .navbar .container-fluid::before, #header .navbar .container-fluid::after {
  content: none;
}

#header .navbar .navbar-header {
  max-width: 250px;
}

#header .navbar .navbar-nav ul {
  padding: 0;
  list-style: none;
}

#header .navbar .navbar-nav ul li {
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

#header .navbar .navbar-nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar .navbar-nav ul li a:hover {
  color: #f71803;
}

#header .navbar .navbar-nav ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar .navbar-nav ul li a::after {
  background-color: #f71803;
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar .navbar-nav ul li.active a {
  color: #f71803;
}

#header .navbar .navbar-nav ul li.active a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 3px;
}

#header .div-header {
  width: 100%;
  height: 100%;
  padding: 0;
}

#header .div-header .div-header-content {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel {
  position: static;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-indicators li {
  background: darkorange;
  border-color: darkorange;
  margin: 0 10px;
  height: 12px;
  width: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#header .div-header .div-header-content #myCarousel .carousel-indicators li.active {
  background: #f71803;
  border-color: #f71803;
}

#header .div-header .div-header-content #myCarousel .carousel-indicators li:hover {
  background: #f71803;
  border-color: #f71803;
}

#header .div-header .div-header-content #myCarousel .carousel-inner {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider {
  height: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p {
  position: absolute;
  top: 50%;
  width: 50%;
  margin: 0 25%;
  padding: 30px 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  font-size: 40px;
  font-variant: small-caps;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i {
  color: white;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i::before {
  margin: 0;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i:first-of-type {
  margin-right: 10px;
}

#header .div-header .div-header-content #myCarousel .carousel-inner .carousel-item .img-slider p i:last-of-type {
  margin-left: 10px;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev,
#header .div-header .div-header-content #myCarousel .carousel-control-next {
  opacity: 1;
  z-index: 1;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-prev-icon,
#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-next-icon,
#header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-prev-icon,
#header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-next-icon {
  background-image: none;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 0;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-prev-icon i,
#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-next-icon i,
#header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-prev-icon i,
#header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-next-icon i {
  display: block;
  width: 100%;
  height: 100%;
  color: #f71803;
  font-size: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-prev-icon i::before,
#header .div-header .div-header-content #myCarousel .carousel-control-prev span.carousel-control-next-icon i::before,
#header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-prev-icon i::before,
#header .div-header .div-header-content #myCarousel .carousel-control-next span.carousel-control-next-icon i::before {
  margin: 0;
  display: block;
  width: 100%;
}

#header .div-header .div-header-content #myCarousel .carousel-control-prev:hover span.carousel-control-prev-icon i,
#header .div-header .div-header-content #myCarousel .carousel-control-prev:hover span.carousel-control-next-icon i,
#header .div-header .div-header-content #myCarousel .carousel-control-next:hover span.carousel-control-prev-icon i,
#header .div-header .div-header-content #myCarousel .carousel-control-next:hover span.carousel-control-next-icon i {
  color: darkorange;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .div-header .div-header-content #myCarousel .green-eden-span {
  position: absolute;
  top: 30%;
  width: 100%;
}

#header .div-header .div-header-content #myCarousel .green-eden-span h1 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: darkorange;
}

#header .div-header .div-header-content #myCarousel .green-eden-span h1 em {
  color: #f71803;
  font-style: normal;
}

#about-us {
  background: radial-gradient(transparent, #fbb74d);
}

#about-us .row-about-us {
  padding: 30px 0;
}

#about-us .row-about-us .col-about-us p strong {
  color: darkorange;
}

#about-us .row-about-us .col-about-us a.pdf {
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
}

#about-us .row-about-us .col-about-us a.pdf .img-statute-download #statute {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

#about-us .row-about-us .col-about-us a.pdf .img-statute-download .download-statute {
  font-weight: normal;
  margin-top: 5px;
}

#about-us .row-about-us .col-about-us a.pdf p {
  color: black;
}

#management {
  background-image: url("../image/leather_1/leather_1/leather_1.png");
}

#management .row-management {
  margin: 70px 0;
  z-index: 1;
}

#management .row-management h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: darkorange;
}

#management .row-management .col-management5 {
  padding: 0;
  z-index: 2;
}

#management .row-management .col-management5 .img-management {
  z-index: 2;
  height: 100%;
}

#management .row-management .col-management5 .img-management .img-managment-a {
  overflow: hidden;
  display: block;
  z-index: 2;
  height: 100%;
}

#management .row-management .col-management5 .img-management .img-managment-a img {
  position: relative;
  z-index: 2;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#management .row-management .col-management5 .img-management .img-managment-a.ilona::before, #management .row-management .col-management5 .img-management .img-managment-a.pawel::before {
  content: "";
  position: absolute;
  border: 3px solid #f71803;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@media (max-width: 991px) {
  #management .row-management .col-management5 .img-management .img-managment-a.ilona::before, #management .row-management .col-management5 .img-management .img-managment-a.pawel::before {
    display: none;
  }
}

#management .row-management .col-management5 .img-management .img-managment-a.ilona::after, #management .row-management .col-management5 .img-management .img-managment-a.pawel::after {
  content: "";
  position: absolute;
  border: 3px double #fbb74d;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media (max-width: 991px) {
  #management .row-management .col-management5 .img-management .img-managment-a.ilona::after, #management .row-management .col-management5 .img-management .img-managment-a.pawel::after {
    display: none;
  }
}

#management .row-management .col-management5 .img-management .img-managment-a.ilona::before {
  left: -20px;
  top: -20px;
}

#management .row-management .col-management5 .img-management .img-managment-a.ilona::after {
  right: -20px;
  bottom: -20px;
}

#management .row-management .col-management5 .img-management .img-managment-a.pawel::before {
  right: -20px;
  bottom: -20px;
}

#management .row-management .col-management5 .img-management .img-managment-a.pawel::after {
  left: -20px;
  top: -20px;
}

#management .row-management .col-management5 .img-management .img-managment-a:hover img {
  z-index: 2;
  -o-object-position: top;
     object-position: top;
  transition: all 0.6s;
  transform: scale(1.15);
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transform: scale(1.15);
}

#management .row-management .col-management7 {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 30px 15px;
}

#management .row-management .col-management7 h3 {
  font-size: 35px;
}

#management .row-management .col-management7 span {
  padding: 5px 10px;
  font-size: 20px;
}

#management .row-management .col-management7 span.line {
  display: block;
  padding: 0;
  width: 100px;
  height: 0;
  border-bottom: 3px solid #f71803;
  margin: 0 auto;
  margin-bottom: 15px;
}

#management .row-management .col-management7 .cv {
  overflow: auto;
  max-height: 220px;
  padding: 0 40px;
  margin-top: 30px;
}

#management .row-management .col-management7 .cv::-webkit-scrollbar {
  width: 12px;
}

#management .row-management .col-management7 .cv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px darkorange;
  border-radius: 10px;
}

#management .row-management .col-management7 .cv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #f71803;
  -webkit-box-shadow: inset 0 0 6px darkorange;
  background: darkorange;
}

#management .row-management .col-management7 .cv p {
  text-overflow: ellipsis;
  color: #7b7b7b;
}

#management .row-management .col-management7 .cv ul {
  text-align: start;
  padding: 0;
  list-style: none;
}

#management .row-management .col-management7 .cv ul li {
  color: #7b7b7b;
}

#management .row-management .col-management7 .cv ul.pawelChmiel {
  padding-top: 30px;
}

#projects .projects .row-projects {
  margin-bottom: 30px;
}

#projects .projects .row-projects .div-img-description-projects {
  position: relative;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects {
  width: 100%;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture {
  overflow: hidden;
  display: block;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture:hover img {
  transition: all 0.6s;
  transform: scale(1.1);
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  background: -webkit-gradient(left top, left bottom, color-stop(61%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(255, 255, 255, 0.04)), color-stop(74%, rgba(36, 36, 36, 0.54)), color-stop(76%, rgba(0, 0, 0, 0.54)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(255, 255, 255, 0.04)), color-stop(74%, rgba(36, 36, 36, 0.54)), color-stop(76%, rgba(0, 0, 0, 0.54)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.04) 62%, rgba(36, 36, 36, 0.54) 74%, rgba(0, 0, 0, 0.54) 76%);
}

@media (max-width: 767px) {
  #projects .projects .row-projects .div-img-description-projects .div-img-projects a.picture::after {
    width: 100%;
  }
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects .lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects .lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 10%;
}

#projects .projects .row-projects .div-img-description-projects .div-img-projects .lightbox:target {
  outline: none;
  display: block;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  z-index: 2;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects h5 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects a {
  text-decoration: none;
  color: white;
  background: darkorange;
  padding: 5px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects .projects .row-projects .div-img-description-projects .div-description-projects a:hover {
  background: #f71803;
}

#cooperation {
  background: radial-gradient(transparent, #fbb74d);
}

#cooperation .cooperation #carousel1 .carousel .carousel-indicators {
  position: static;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}

#cooperation .cooperation #carousel1 .carousel .carousel-indicators li {
  background: darkorange;
  border-color: darkorange;
  margin: 0 10px;
  height: 12px;
  width: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#cooperation .cooperation #carousel1 .carousel .carousel-indicators li.active {
  background: #f71803;
  border-color: #f71803;
}

#cooperation .cooperation #carousel1 .carousel .carousel-indicators li:hover {
  background: #f71803;
  border-color: #f71803;
}

#cooperation .cooperation #carousel1 .carousel .carousel-inner .carousel-item .img-slider {
  text-align: center;
}

#cooperation .cooperation #carousel1 .carousel .carousel-inner .carousel-item .img-slider h3 {
  font-size: 35px;
  color: darkorange;
  margin-top: 10px;
}

#cooperation .cooperation #carousel1 .carousel .carousel-inner .carousel-item .img-slider h3 strong {
  color: #f71803;
  font-weight: normal;
}

#cooperation .cooperation #carousel1 .carousel .carousel-inner .carousel-item .img-slider p {
  font-size: 25px;
  line-height: 30px;
  margin-top: 10px;
}

#cooperation .cooperation #carousel1 .carousel .carousel-control-prev,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next {
  opacity: 1;
  display: block;
  width: 60px;
  height: 60px;
}

#cooperation .cooperation #carousel1 .carousel .carousel-control-prev span.carousel-control-prev-icon,
#cooperation .cooperation #carousel1 .carousel .carousel-control-prev span.carousel-control-next-icon,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next span.carousel-control-prev-icon,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next span.carousel-control-next-icon {
  background-image: none;
  display: block;
  width: 100%;
  height: 100%;
}

#cooperation .cooperation #carousel1 .carousel .carousel-control-prev span.carousel-control-prev-icon i,
#cooperation .cooperation #carousel1 .carousel .carousel-control-prev span.carousel-control-next-icon i,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next span.carousel-control-prev-icon i,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next span.carousel-control-next-icon i {
  display: block;
  color: #f71803;
  font-size: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#cooperation .cooperation #carousel1 .carousel .carousel-control-prev span.carousel-control-prev-icon i::before,
#cooperation .cooperation #carousel1 .carousel .carousel-control-prev span.carousel-control-next-icon i::before,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next span.carousel-control-prev-icon i::before,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next span.carousel-control-next-icon i::before {
  display: block;
  margin: 0;
}

#cooperation .cooperation #carousel1 .carousel .carousel-control-prev:hover span.carousel-control-prev-icon i,
#cooperation .cooperation #carousel1 .carousel .carousel-control-prev:hover span.carousel-control-next-icon i,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next:hover span.carousel-control-prev-icon i,
#cooperation .cooperation #carousel1 .carousel .carousel-control-next:hover span.carousel-control-next-icon i {
  color: darkorange;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1300px) {
  #cooperation .cooperation #carousel1 .carousel .carousel-control-next {
    margin-right: -60px;
  }
  #cooperation .cooperation #carousel1 .carousel .carousel-control-prev {
    margin-left: -60px;
  }
}

#location {
  background-image: url(../image/leather_1/leather_1/leather_1.png);
}

#location .location {
  padding: 0;
}

#location .location #map iframe {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 500px;
  border: 3px double darkorange;
  padding-right: 1px;
}

#contact .contact .row-contact .col-contact {
  height: 100%;
}

#contact .contact .row-contact .col-contact a.picture {
  overflow: hidden;
  display: block;
}

#contact .contact .row-contact .col-contact a.picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 450px;
  -o-object-position: top;
     object-position: top;
  border: 3px solid darkorange;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#contact .contact .row-contact .col-contact a.picture:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group {
  margin: 0;
  margin-bottom: 30px;
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group #subject {
  color: #7b7b7b;
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group #btn-warning {
  padding: 0;
  background: darkorange;
  position: relative;
  width: 150px;
  height: 50px;
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group #btn-warning .btn-warning {
  color: white;
  border-radius: 0;
  position: absolute;
  text-decoration: none;
  padding: 12px 22px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group #btn-warning .btn-warning:hover::before {
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
  content: "Wyślij";
  background: -webkit-gradient(linear, left top, right top, from(#fbb74d), color-stop(50%, #f71803), color-stop(50%, #f71803), to(#fbb74d));
  background: linear-gradient(to right, #fbb74d, #f71803 50%, #f71803 50%, #fbb74d);
  background-size: 200% 200%;
  background-position: -100% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 12px 22px;
}

@-webkit-keyframes blink {
  0%,
  0% {
    background-position: 200% 0;
  }
  85%,
  95% {
    background-position: 100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes blink {
  0%,
  0% {
    background-position: 200% 0;
  }
  85%,
  95% {
    background-position: 100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group .form-control {
  color: #7b7b7b;
  font-size: 14px;
  /* box-shadow: none; */
  border: 0;
  padding: 5px 15px;
  border-radius: 0;
  outline: darkorange;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(255, 189, 82, 0.65);
          box-shadow: 2px 2px 5px 2px rgba(255, 189, 82, 0.65);
  height: 50px;
}

#contact .contact .row-contact .col-contact #contact-container .form-horizontal #contact-form .form-group .small {
  color: #7b7b7b;
}

#contact .contact .row-contact .col-contact:last-of-type {
  padding-top: 0;
  padding-bottom: 10px;
}

#footer {
  background: radial-gradient(transparent, #fbb74d);
  padding: 70px 0;
}

#footer .footer .row-footer .col-footer i {
  color: darkorange;
  font-size: 50px;
  text-align: center;
  display: block;
}
/*# sourceMappingURL=style.css.map */