@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
#header {
  height: auto;
}

main {
  padding-top: 100px;
}

main #projects .projects {
  width: 90% !important;
  margin-top: 70px;
}

main #projects .projects .row-projects {
  margin: 0 0 15px 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #projects .projects .row-projects .col-projects {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-img-projects a.picture {
  overflow: hidden;
  display: block;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-img-projects a.picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-img-projects a.picture:hover img {
  transition: all 0.6s;
  transform: scale(1.1);
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-img-projects a.picture::after {
  background: rgba(0, 0, 0, 0.35);
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 7.5px;
  z-index: 2;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects h5 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  height: 145px;
  text-align: center;
  margin-top: 0;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects h5 span {
  color: white;
  font-size: 12px;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects .more {
  height: 30px;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects .more a {
  padding: 5px 12px;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects .more a:hover::before {
  padding: 5px 12px;
}

main #projects .projects .row-projects .col-projects .div-img-description-projects .div-description-projects .more a:hover::after {
  padding: 5px 12px;
}

@media (max-width: 991px) {
  main #projects .projects .row-projects {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=projects.css.map */