@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
#header {
  height: auto;
}

main {
  padding-top: 100px;
  background-image: url(../image/leather_1/leather_1/leather_1.png);
}

@media (max-width: 1200px) {
  main #contest-workshops-training h2 i:first-of-type {
    margin-right: 7px;
  }
  main #contest-workshops-training h2 i:last-of-type {
    margin-left: 7px;
  }
}

main #contest-workshops-training .card-header {
  background-color: white;
  border: 0px;
  margin-bottom: 20px;
  padding: 0;
}

main #contest-workshops-training .card-header .card-header-tabs {
  border: 0px;
  width: auto;
  margin: 0;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item {
  padding: 7.5px 15px;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.nav-link {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: block;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px 0;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.nav-link:hover {
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f71803;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.nav-link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.nav-link::after {
  background-color: #f71803;
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.active {
  color: #f71803;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 3px;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item .click-education {
  color: #f71803;
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item .click-education::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 3px;
}

@media (max-width: 767px) {
  main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.nav-link {
    font-size: 16px;
  }
  main #contest-workshops-training .card-header .card-header-tabs li.nav-item a.nav-link::after {
    bottom: 5px;
  }
}

main #contest-workshops-training .card-header .card-header-tabs li.nav-item:last-of-type {
  margin-right: 47px;
}

main #contest-workshops-training .card-header #icon-search {
  text-align: center;
  float: right;
  font-size: 20px;
  font-weight: 900;
  color: white;
  width: 62px;
  height: 62px;
  margin-top: -62px;
  z-index: 5;
}

main #contest-workshops-training .card-header #icon-search .icon-search {
  height: 100%;
}

main #contest-workshops-training .card-header #icon-search .icon-search i {
  display: block;
  margin: 0;
  height: 100%;
}

main #contest-workshops-training .card-header #icon-search .icon-search i::before {
  margin: 0;
  display: block;
  line-height: 62px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f71803), to(#fbb74d));
  color: white;
  width: 100%;
  font-weight: 900;
}

@media (max-width: 767px) {
  main #contest-workshops-training .card-header #icon-search {
    width: 47px;
    height: 56.4px;
    margin-top: -56.4px;
  }
  main #contest-workshops-training .card-header #icon-search .icon-search i::before {
    line-height: 56.4px;
    height: 100%;
  }
}

@media (min-width: 768px) {
  main #contest-workshops-training .card-header #icon-search {
    width: 62px;
    height: 62px;
    margin-top: -62px;
  }
}

main #contest-workshops-training .card-header #icon-search .search {
  position: relative;
  width: 400px;
  right: 0px;
  left: -338px;
  z-index: 2;
  font-size: 14px;
  padding: 5px;
  background: #fbb74d;
  top: 12px;
  display: none;
}

main #contest-workshops-training .card-header #icon-search .search #tringle {
  width: 0;
  border-left: 31px solid transparent;
  border-right: 31px solid transparent;
  border-bottom: 12px solid #fbb74d;
  margin: -12px auto 0px;
  position: absolute;
  right: 0;
  top: 0;
}

main #contest-workshops-training .card-header #icon-search .search .div-input-search .input-search {
  display: block;
  border: none;
  width: 100%;
  padding: 7.5px 15px;
  font-weight: normal;
  outline: none;
}

@media (max-width: 767px) {
  main #contest-workshops-training .card-header #icon-search .search {
    left: -353px;
  }
  main #contest-workshops-training .card-header #icon-search .search #tringle {
    border-left: 24.5px solid transparent;
    border-right: 24.5px solid transparent;
  }
}

main #contest-workshops-training .card-body {
  padding: 0;
}

main #contest-workshops-training .contest .row-contest, main #contest-workshops-training .workshops .row-contest, main #contest-workshops-training .training .row-contest {
  margin-bottom: 20px;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest {
  position: relative;
  height: 100%;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest {
  height: 100%;
  width: 100%;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture {
  overflow: hidden;
  display: block;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture img, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture img, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture:hover img, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture:hover img, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture:hover img {
  transition: all 0.6s;
  transform: scale(1.1);
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture::after, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture::after, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  background: -webkit-gradient(left top, left bottom, color-stop(61%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(255, 255, 255, 0.04)), color-stop(74%, rgba(36, 36, 36, 0.54)), color-stop(76%, rgba(0, 0, 0, 0.54)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(255, 255, 255, 0.04)), color-stop(74%, rgba(36, 36, 36, 0.54)), color-stop(76%, rgba(0, 0, 0, 0.54)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.04) 62%, rgba(36, 36, 36, 0.54) 74%, rgba(0, 0, 0, 0.54) 76%);
}

@media (max-width: 767px) {
  main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture::after, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture::after, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest a.picture::after {
    width: 100%;
  }
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox img, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox img, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 10%;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox:target, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox:target, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-img-contest .lightbox:target {
  outline: none;
  display: block;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  z-index: 2;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest h5, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest h5, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest h5 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more {
  padding: 0;
  background: #fbb74d;
  position: relative;
  width: 100px;
  height: 40px;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more a, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more a, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more a {
  color: white;
  border-radius: 0;
  position: absolute;
  text-decoration: none;
  padding: 10px 12px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-size: 14px;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover::before, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover::before, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover::before {
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
  content: "Więcej";
  background: -webkit-gradient(linear, left top, right top, from(#fbb74d), color-stop(50%, #f71803), color-stop(50%, #f71803), to(#fbb74d));
  background: linear-gradient(to right, #fbb74d, #f71803 50%, #f71803 50%, #fbb74d);
  background-size: 200% 200%;
  background-position: -100% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px 12px;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover::after, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover::after, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more a:hover::after {
  content: '\e830';
  font-family: unicons;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  text-align-last: end;
  top: 0;
  padding: 10px 12px;
  margin-left: -100px;
}

@-webkit-keyframes blink {
  0%, 0% {
    background-position: 200% 0;
  }
  85%, 95% {
    background-position: 100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes blink {
  0%, 0% {
    background-position: 200% 0;
  }
  85%, 95% {
    background-position: 100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more a i, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more a i, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more a i {
  color: white;
  margin-left: 5px;
  z-index: 20;
}

main #contest-workshops-training .contest .row-contest .col-contest .div-img-description-contest .div-description-contest .more a i::before, main #contest-workshops-training .workshops .row-contest .col-contest .div-img-description-contest .div-description-contest .more a i::before, main #contest-workshops-training .training .row-contest .col-contest .div-img-description-contest .div-description-contest .more a i::before {
  margin: 0;
}

@media (max-width: 991px) {
  main #contest-workshops-training .contest .row-contest .col-contest, main #contest-workshops-training .workshops .row-contest .col-contest, main #contest-workshops-training .training .row-contest .col-contest {
    padding: 8px 15px;
  }
}

@media (max-width: 991px) {
  main #contest-workshops-training .contest .row-contest .col-contest, main #contest-workshops-training .workshops .row-contest .col-contest, main #contest-workshops-training .training .row-contest .col-contest {
    padding: 8px 15px;
  }
}

@media (max-width: 581px) {
  main #contest-workshops-training .contest .row-contest, main #contest-workshops-training .workshops .row-contest, main #contest-workshops-training .training .row-contest {
    margin: 0;
  }
}

main #contest-workshops-training #workshops .row-contest, main #contest-workshops-training #training .row-contest {
  display: none;
}

main #contest-workshops-training #workshops .row-contest:first-of-type, main #contest-workshops-training #training .row-contest:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

main #contest-workshops-training #workshops .row-contest:first-of-type .col-contest, main #contest-workshops-training #training .row-contest:first-of-type .col-contest {
  padding: 0;
}

main #contest-workshops-training #workshops .row-contest:first-of-type .col-contest .div-img-description-contest .div-img-contest .picture img, main #contest-workshops-training #training .row-contest:first-of-type .col-contest .div-img-description-contest .div-img-contest .picture img {
  height: 500px;
}

main #contest-workshops-training #workshops .row-contest:first-of-type .col-contest .div-img-description-contest .div-img-contest .picture::after, main #contest-workshops-training #training .row-contest:first-of-type .col-contest .div-img-description-contest .div-img-contest .picture::after {
  content: none;
}

main #contest-workshops-training #workshops .row-contest:first-of-type .col-contest .div-img-description-contest .div-description-contest, main #contest-workshops-training #training .row-contest:first-of-type .col-contest .div-img-description-contest .div-description-contest {
  bottom: 200px;
}

main #contest-workshops-training #workshops .row-contest:first-of-type .col-contest .div-img-description-contest .div-description-contest h5, main #contest-workshops-training #training .row-contest:first-of-type .col-contest .div-img-description-contest .div-description-contest h5 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -4px 2px 4px black;
}

main #gallery {
  padding-top: 0;
}

main #gallery .gallery {
  height: 85vh;
  background: #fbb74d;
  border: 1px solid #fbb74d;
}

main #gallery .gallery .row-header {
  height: 50%;
  margin: 0;
}

main #gallery .gallery .row-header .row {
  margin: 0;
  width: 100%;
}

main #gallery .gallery .row-header .col-12, main #gallery .gallery .row-header .col-lg-12, main #gallery .gallery .row-header .col-lg-4, main #gallery .gallery .row-header .col-lg-6, main #gallery .gallery .row-header .col-lg-3, main #gallery .gallery .row-header .col-lg-2, main #gallery .gallery .row-header .col-lg-1 {
  padding: 0;
  height: 100%;
}

main #gallery .gallery .row-header .row-column {
  height: 100%;
  margin: 0;
}

main #gallery .gallery .row-header .row-column .row-column1 {
  height: 100%;
}

main #gallery .gallery .row-header .row-column .row-column2 {
  height: 50%;
}

main #gallery .gallery .row-header .row-column .row-column2 .mobile-instrument {
  display: none;
}

@media (max-width: 991px) and (min-width: 568px) {
  main #gallery .gallery .row-header .row-column .row-column2 .mobile-instrument {
    display: block;
    padding: 0;
    height: 100%;
  }
  main #gallery .gallery .row-header .row-column .row-column2.mobile {
    height: 100%;
    width: 50%;
    float: left;
  }
}

main #gallery .gallery .row-header .row-column .vertical-column .row-column1 .row.height70 {
  height: 70%;
  width: 100%;
  margin: 0;
}

main #gallery .gallery .row-header .row-column .vertical-column .row-column1 .row.height30 {
  height: 30%;
  width: 100%;
  margin: 0;
}

main #gallery .gallery .row-header .row-column .vertical-column .row-column1 .row.height60 {
  height: 60%;
  width: 100%;
  margin: 0 !important;
}

main #gallery .gallery .row-header .row-column .vertical-column .row-column1 .row.height40 {
  height: 40%;
  width: 100%;
  margin: 0;
}

main #gallery .gallery .row-header .col-lg-7 {
  padding: 0;
  height: 100%;
}

@media (max-width: 991px) {
  main #gallery .gallery .row-header {
    height: 100%;
  }
  main #gallery .gallery .row-header:first-of-type {
    display: none;
  }
  main #gallery .gallery .row-header:last-of-type .there-is-no {
    display: none;
  }
  main #gallery .gallery .row-header:last-of-type .col-lg-7, main #gallery .gallery .row-header:last-of-type .col-lg-4 {
    height: 50%;
  }
}

main #gallery .gallery a.picture {
  display: block;
  overflow: hidden;
  border: 2px solid #fbb74d;
  height: 100%;
}

main #gallery .gallery .lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5%;
}

main #gallery .gallery .lightbox img {
  max-width: 50%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
}

main #gallery .gallery .lightbox img:hover {
  -webkit-transform: none;
          transform: none;
}

main #gallery .gallery .lightbox:target {
  outline: none;
  display: block;
}

main #gallery .gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: all 0.6 ease;
  transition: all 0.6 ease;
}

main #gallery .gallery img:hover {
  transition: all 0.6s ease;
  transform: scale(1.1);
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 567px) {
  main #gallery {
    display: none;
  }
}
/*# sourceMappingURL=contest.css.map */