$orange: #fbb74d;
$orange-opacity: rgba(251, 183, 77, 0.8);
$red: #f71803;
$a: 100%;
$b: 2px;
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
#header {
	height: auto;
}
main {
	padding-top:100px;
	background-image: url(../image/leather_1/leather_1/leather_1.png);
	#contest-workshops-training {
		// h2 { W RAZIE GDYBY CHCIELI WYŚRODKOWANE IKONY
		// 	.col-1 {
		// 		i {
		// 			&::before {
		// 				margin: 0;
		// 				display: block;
		// 				height: 100%;
		// 				line-height: 97px;
		// 			}
		// 		}
				
		// 	}
		// }
		@media (max-width:1200px) {
			h2 {
				i:first-of-type {
					margin-right: 7px;
				}
				i:last-of-type {
					margin-left: 7px;
				}
			}
		}
		
		.card-header {
			background-color:white;
			border:0px;
			margin-bottom:20px;
			padding: 0;
			.card-header-tabs {
				border:0px;
				width:auto;
				margin:0;
				li.nav-item {
					padding: 7.5px 15px;
					
					a.nav-link {
						font-size:20px;
						position: relative;
						text-decoration: none;
						color:black;
						text-transform: uppercase;
						display:block;
						border:0;
						border-radius:0;
						margin:0;
						transition: all 0.3s ease;
						padding: 10px 0;
						&:hover {
							background: white;
							transition: all 0.3s ease;
							color: $red;
							&::after {
								transform: scale(1);
								transition: all 0.5s ease;
							}
						}
						&::after {
							background-color: $red;
							content: "";
							position: absolute;
							height: 3px;
							width: 100%;
							bottom: 0px;
							left: 0;
							transform: scale(0);
							transition: all 0.5s ease;
							}
					}
					a.active {
						color:$red;
						&::after {
							transform: scale(1);
							height: 3px;
						}
					}
					@media (max-width:767px) {
						a.nav-link {
							font-size:16px;
							&::after {
								bottom: 5px;
							}
						}
					}
					
				}
				li.nav-item:last-of-type {
					margin-right: 47px;
				}
				// @media (max-width:767px) {
					
				// }
			}
			#icon-search {
				text-align: center;
				float: right;
				font-size: 20px;
				font-weight: 900;
				color:white;
				width:62px;
				height: 62px;
				margin-top: -62px;
				z-index:5;
				.icon-search {
					height: 100%;
					i {
						display:block;
						margin: 0;
						height: 100%;
						&::before {
							margin: 0;
							display:block;
							line-height: 62px;
							background-image: -webkit-gradient(linear, left top, right top, from($red), to($orange));
							color:white;
							width:100%;
							font-weight: 900;
						}
					}
				}
				@media (max-width:767px) {
					width:47px;
					height: 56.4px;
					margin-top: -56.4px;
					.icon-search {
						i::before {
							line-height: 56.4px;
							height:100%;
						}
					}
				}
				@media (min-width:768px) {
					width:62px;
					height: 62px;
					margin-top: -62px;
					.icon-search {
						i::before {

						}
					}
				}	
				.search {
					position: relative;
					width: 400px;
					right: 0px;
					left: -338px;
					z-index: 2;
					font-size: 14px;
					padding: 5px;
					background: $orange;top: 12px;
					display:none;
					#tringle {
						width: 0;
						border-left: 31px solid transparent;
  						border-right: 31px solid transparent;
						
						border-bottom: 12px solid $orange;
						margin: -12px auto 0px;
						position: absolute;
						right: 0;
						top: 0;
					}
					.div-input-search {
						.input-search {
							display:block;
							border: none;
							width:100%;
							padding: 7.5px 15px;
							font-weight: normal;
							outline: none;
						}
					}
					@media (max-width:767px) {
						left:-353px;
						#tringle {
							border-left: 24.5px solid transparent;
							border-right: 24.5px solid transparent;
						}
					}
				}
			}
			
		}
		.card-body {
			padding: 0;
		}
		.contest, .workshops, .training {
			.row-contest {
				margin-bottom: 20px;
				.col-contest {
					.div-img-description-contest {
						position: relative;
						height:100%;
						.div-img-contest {
							height:100%;
							width: 100%;
							a.picture {
								overflow: hidden;
								display: block;
								img {
									object-fit: cover;
									width: 100%;
									height: 350px;
									transition-duration: 3s;
									margin: 0 auto;
									display: block;
									transition: all 1s ease;
									-webkit-transition: all 1s ease;
									-moz-transition: all 1s ease;
									-o-transition: all 1s ease;
								}
								&:hover {
									img {
										transition: all 0.6s;
										transform: scale(1.1);
										-o-transition: all 0.6s;
										-moz-transition: all 0.6s;
										-webkit-transition: all 0.6s;
										-moz-transform: scale(1.1);
										-o-transform: scale(1.1);
										-webkit-transform: scale(1.1);
									}
								}
								&::after {
									content: "";
									position: absolute;
									width: 100%;
									// width: calc(#{$a} - #{$b});
									height: 100%;
									background: rgba(0, 0, 0, 0.5);
									z-index: 1;
									top: 0;
									background: -moz-linear-gradient(
										top,
										rgba(255, 255, 255, 0) 61%,
										rgba(255, 255, 255, 0.04) 62%,
										rgba(36, 36, 36, 0.54) 74%,
										rgba(0, 0, 0, 0.54) 76%
									);
									background: -webkit-gradient(
										left top,
										left bottom,
										color-stop(61%, rgba(255, 255, 255, 0)),
										color-stop(62%, rgba(255, 255, 255, 0.04)),
										color-stop(74%, rgba(36, 36, 36, 0.54)),
										color-stop(76%, rgba(0, 0, 0, 0.54))
									);
									background: -webkit-linear-gradient(
										top,
										rgba(255, 255, 255, 0) 61%,
										rgba(255, 255, 255, 0.04) 62%,
										rgba(36, 36, 36, 0.54) 74%,
										rgba(0, 0, 0, 0.54) 76%
									);
									background: -o-linear-gradient(
										top,
										rgba(255, 255, 255, 0) 61%,
										rgba(255, 255, 255, 0.04) 62%,
										rgba(36, 36, 36, 0.54) 74%,
										rgba(0, 0, 0, 0.54) 76%
									);
									background: -ms-linear-gradient(
										top,
										rgba(255, 255, 255, 0) 61%,
										rgba(255, 255, 255, 0.04) 62%,
										rgba(36, 36, 36, 0.54) 74%,
										rgba(0, 0, 0, 0.54) 76%
									);
									background: linear-gradient(
										to bottom,
										rgba(255, 255, 255, 0) 61%,
										rgba(255, 255, 255, 0.04) 62%,
										rgba(36, 36, 36, 0.54) 74%,
										rgba(0, 0, 0, 0.54) 76%
									);
									@media (max-width: 767px) {
										width: 100%;
									}
								}
							}
							.lightbox {
								display: none;
								position: fixed;
								z-index: 999;
								width: 100%;
								height: 100%;
								text-align: center;
								top: 0;
								left: 0;
								background: rgba(0, 0, 0, 0.5);
								img {
									max-width: 90%;
									max-height: 80%;
									margin-top: 10%;
								}
								&:target {
									outline: none;
									display: block;
								}
							}
						}
						.div-description-contest {
							width: 100%;
							position: absolute;
							bottom: 0;
							padding: 15px;
							z-index: 2;
							h5 {
								color: white;
								font-family: "Poppins", sans-serif;
								font-size: 20px;
							}
							.more {
								padding: 0;
								background: $orange;
								position: relative;
								width: 100px;
								height: 40px;
								a {
									color: white;
									border-radius: 0;
									position: absolute;
									text-decoration: none;
									padding: 10px 12px;
									width: 100%;
									height: 100%;
									transition: all 0.5s ease;
									text-transform: uppercase;
									font-size: 14px;
									&:hover {
										transition: all 0.5s ease;
										&::before {
											animation: blink 2s infinite;
											content: "Więcej";
											background: linear-gradient(
											to right,
											$orange,
											$red 50%,
											$red 50%,
											$orange
											);
											background-size: 200% 200%;
											background-position: -100% 0;
											position: absolute;
											width: 100%;
											height: 100%;
											left: 0;
											top: 0;
											padding: 10px 12px;
										}
										&::after {
											content: '\e830';
											font-family: unicons;
											position: absolute;
											width: 100%;
											height: 100%;
											left: 100%;
											text-align-last: end;
											top: 0;
											padding: 10px 12px;
											margin-left: -100px;
										}
										@keyframes blink {
											0%, 0% {
												background-position: 200% 0;
											}
											85%, 95% {
												background-position: 100% 0;
											}
											100% {
												background-position: 200% 0;
											}
										}
									}
									i {
										color:white;
										margin-left:5px;
										z-index:20;
										&::before {
											margin:0;
										}
									}
								}
							}
						}
					}
					@media (max-width:991px) {
						padding: 8px 15px;
					}
					@media (max-width:991px) {
						padding: 8px 15px;
					}
				}
				@media (max-width:581px) {
					margin: 0;
				}
			}
		}
	}
	#gallery {
		padding-top: 0;
		.gallery {
			height:85vh;
			background: $orange;
			border:1px solid $orange;
			.row-header {
				height:50%;
				margin:0;
				.row {
					margin:0;
					width:100%;
				}
				.col-12, .col-lg-12, .col-lg-4, .col-lg-6, .col-lg-3, .col-lg-2, .col-lg-1 {
					padding: 0;
					height:100%;
				}
				.row-column {
					height:100%;
					margin:0;
					.row-column1 {
						height:100%;
					}
					.row-column2 {
						height:50%;
					}
					.vertical-column {
						.row-column1 {
							.row.height70 {
								height:70%;
								width:100%;
								margin:0;
							}
							.row.height30 {
								height:30%;
								width:100%;
								margin:0;
							}
							.row.height60 {
								height:60%;
								width:100%;
								margin:0!important;
							}
							.row.height40 {
								height:40%;
								width:100%;
								margin:0;
							}
						}
					}
					
				}
				.col-lg-7 {
					padding: 0;
					height: 100%;
				}
				@media (max-width:991px) {
					height: 100%;

					&:first-of-type {
						display:none;
					}
					&:last-of-type {
						.there-is-no {
							display:none;
						}
						.col-lg-7, .col-lg-4 {
							height:50%;
						}
					}
				}
				
			}
			a.picture {
				display: block;
				overflow: hidden;
				border: 2px solid $orange;
				height:100%;
			}
			.lightbox {
				display: none;
				position: fixed;
				z-index: 999;
				width: 100%;
				height: 100%;
				text-align: center;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.5);
				padding-top:5%; 
				img {
					max-width: 50%;
					max-height: 90%;
					display: block;
					margin: 0 auto;
					&:hover {
						transform: none;
					}
				}
				&:target {
				  outline: none;
				  display: block;
				}
			}
			img {
				object-fit: cover;
				object-position: 50% 50%;
				width:100%;
				height:100%;
				display:block;
				transition: all 0.6 ease;
				&:hover {
					transition: all 0.6s ease;
					transform: scale(1.1);
					-o-transition: all 0.6s ease;
					-moz-transition: all 0.6s ease;
					-webkit-transition: all 0.6s ease;
					-moz-transform: scale(1.1);
					-o-transform: scale(1.1);
					-webkit-transform: scale(1.1);
				}
			}
		}
		@media (max-width:567px) {
			display:none;
		}
	}
}