//AUTHOR: Create by https://github.com/bialka104b bialka104b@interia.pl
$orange: #fbb74d;
$orange-opacity: rgba(251, 183, 77, 0.8);
$red: #f71803;
$a: 100%;
$b: 2px;
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
#header {
	height: auto;
}
main {
  padding-top:100px;
  background-image: url(../image/leather_1/leather_1/leather_1.png);
  #articles {
    .articles {
      .row-articles {
        .col-articles {
          .div-img-articles {
            margin-bottom: 20px;
            img {
              display:block;
              width:100%;
            }
          }
          .div-description-articles {
            padding: 40px 40px;
            background:white;
            p {
              color: #7b7b7b;
              font-size:16px;
              line-height: 1.5;
              word-spacing: 5px;
            }
          }
        }
      }
    }
  }
}
